<!doctype html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fun Network Facts</title>

    <script th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/typeahead.js/0.11.1/dist/typeahead.bundle.min.js}"></script>

    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

    <script src="/jsonview/jquery.jsonview.min.js" type="text/javascript"></script>
    <link href="/jsonview/jquery.jsonview.min.css" rel="stylesheet" type="text/css"/>

    <script src="/vis/vis.js" type="text/javascript" ></script>
    <link href="/vis/vis.css" rel="stylesheet" type="text/css"/>

    <link href="my.css" rel="stylesheet" type="text/css"/>

</head>

<body>

<div id="network_viz"></div>

<form class="form-inline" id="device_form">
    <fieldset>
        <legend>Device</legend>
        <div class="form-group">
            <label for="device_input">Device</label>
            <input id="device_input" type="text" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </fieldset>
</form>


<form class="form-inline" id="expand_form">
    <div id="selected_hub"></div>
    <button type="submit" class="btn btn-primary">Expand</button>
</form>

<form class="form-inline" id="cluster_form">
    <button type="submit" class="btn btn-primary">Re-cluster</button>
</form>


<div id="info_card"></div>


<script type="text/javascript" src="/my.js"></script>


</body>
</html>
