<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!--/*--><!--@thymesVar id="basicSpec" type="net.es.oscars.dto.spec.BasicVlanSpecification"--><!--*/-->

<head th:include="shared :: headerFragment (pageTitle='New specification')"/>

<body>
<div th:include="shared :: navbar"></div>


<form class="form-horizontal" id="resv_new"
      action="#" th:action="@{/resv_basic_new_submit}" th:object="${basicSpec}" method="post">
    <fieldset>
        <legend>New reservation specification</legend>


        <div class="form-group">
            <label class="col-md-4 control-label" for="connectionId">Connection ID</label>
            <div class="col-md-4">
                <input id="connectionId" placeholder="Connection ID"
                       th:field="*{connectionId}" class="form-control input-md" />
                <span class="help-block">Connection ID</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="description">Description</label>
            <div class="col-md-4">
                <input id="description" placeholder="Description"
                       th:field="*{description}" class="form-control input-md" />
                <span class="help-block">The reservation description</span>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-4 control-label" for="username">Username</label>
            <div class="col-md-4">
                <input id="username" placeholder="Username"
                       th:field="*{username}" class="form-control input-md" />
                <span class="help-block">The username</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="notBefore">Not Before</label>
            <div class="col-md-4">
                <input id="notBefore" placeholder="Not Before"
                       th:field="*{scheduleSpec.notBefore}" class="form-control input-md" />
                <span class="help-block">Don't start before this date</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="notAfter">Not After</label>
            <div class="col-md-4">
                <input id="notAfter" placeholder="Not After"
                       th:field="*{scheduleSpec.notAfter}" class="form-control input-md" />
                <span class="help-block">Don't end after this date</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="duration">Duration (minutes)</label>
            <div class="col-md-4">
                <input id="duration" placeholder="Duration"
                       th:field="*{scheduleSpec.durationMinutes}" class="form-control input-md" />
                <span class="help-block">duration of reservation</span>
            </div>
        </div>



        <div class="form-group">
            <label class="col-md-4 control-label" for="aDeviceUrn">A device Urn</label>
            <div class="col-md-4">
                <input id="aDeviceUrn" placeholder="A device URN"
                       th:field="*{basicVlanFlow.aDeviceUrn}" class="form-control input-md device" />
                <span class="help-block">A device URN</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="aUrn">A edge Urn</label>
            <div class="col-md-4">
                <input id="aUrn" placeholder="A edge URN"
                       th:field="*{basicVlanFlow.aUrn}" class="form-control input-md vlanEdge" />
                <span class="help-block">A edge URN</span>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-4 control-label" for="zDeviceUrn">Z device Urn</label>
            <div class="col-md-4">
                <input id="zDeviceUrn" placeholder="Z device URN"
                       th:field="*{basicVlanFlow.zDeviceUrn}" class="form-control input-md device" />
                <span class="help-block">Z device URN</span>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-4 control-label" for="zUrn">Z edge URN</label>
            <div class="col-md-4">
                <input id="zUrn" placeholder="Z edge URN"
                       th:field="*{basicVlanFlow.zUrn}" class="form-control input-md vlanEdge" />
                <span class="help-block">Z edge URN</span>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-4 control-label" for="aVlanExpression">A edge VLAN expression</label>
            <div class="col-md-4">
                <input id="aVlanExpression" placeholder="A edge VLAN expression"
                       th:field="*{basicVlanFlow.aVlanExpression}" class="form-control input-md" />
                <span class="help-block">A edge VLAN expression</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="zVlanExpression">Z edge VLAN expression</label>
            <div class="col-md-4">
                <input id="zVlanExpression" placeholder="Z edge VLAN expression"
                       th:field="*{basicVlanFlow.zVlanExpression}" class="form-control input-md" />
                <span class="help-block">Z edge VLAN expression</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="azMbps">Guaranteed Mbps (A -> Z)</label>
            <div class="col-md-4">
                <input id="azMbps" placeholder="Guaranteed Mbps (A -> Z)"
                       th:field="*{basicVlanFlow.azMbps}" class="form-control input-md" />
                <span class="help-block">Guaranteed Mbps (A -> Z)</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="zaMbps">Guaranteed Mbps (Z -> A)</label>
            <div class="col-md-4">
                <input id="zaMbps" placeholder="Guaranteed Mbps (Z -> A)"
                       th:field="*{basicVlanFlow.zaMbps}" class="form-control input-md" />
                <span class="help-block">Guaranteed Mbps (Z -> A)</span>
            </div>
        </div>



        <div class="form-group">
            <label class="col-md-4 control-label" for="palindromic">Palindromic ERO</label>
            <select id="palindromic" class="selectpicker" th:field="*{basicVlanFlow.palindromic}">
                <option th:each="palindromic: ${T(net.es.oscars.dto.spec.PalindromicType).values()}"
                        th:value="${palindromic}" th:text="${palindromic}"></option>
            </select>


        </div>


        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit_btn">Controls</label>
            <div class="col-md-8">
                <button id="submit_btn" type="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-inverse">Reset</button>
            </div>
        </div>


    </fieldset>
</form>

<script>
    var th_opts = {
        hint: false,
        highlight: true,
        minLength: 0
    };


    var vlanEdge_bh = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('urn'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        limit: 10,

        prefetch: {
            cache: false,

            url: '/info/vlanEdges',

            filter: function (list) {
                return $.map(list, function (urn) {
                    return {urn: urn};
                });
            }
        }
    });

    vlanEdge_bh.initialize();

    function vlanEdgesWithDefault(q, sync) {
        if (q === '') {
            sync(vlanEdge_bh.index.all());
        }
        else {
            vlanEdge_bh.search(q, sync);
        }
    }



    var device_bh = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('urn'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        limit: 10,

        prefetch: {
            cache: false,

            url: '/info/devices',

            filter: function (list) {
                return $.map(list, function (urn) {
                    return {urn: urn};
                });
            }
        }
    });

    device_bh.initialize();

    function devicesWithDefault(q, sync) {
        if (q === '') {
            sync(device_bh.index.all());
        }
        else {
            device_bh.search(q, sync);
        }
    }




    // otherwise typeahead doesn't work
    $(document).ready(function () {


        $('#resv_new .vlanEdge').typeahead(th_opts, {
            name: 'vlanEdges',
            displayKey: 'urn',
            source: vlanEdgesWithDefault,
            templates: {
                suggestion: function(data) { // data is an object as returned by suggestion engine
                    return '<div class="tt-suggest-page">' + data.urn + '</div>';
                }
            }
        });

        $('#resv_new .device').typeahead(th_opts, {
            name: 'devices',
            displayKey: 'urn',
            source: devicesWithDefault,
            templates: {
                suggestion: function(data) { // data is an object as returned by suggestion engine
                    return '<div class="tt-suggest-page">' + data.urn + '</div>';
                }
            }
        });
    });


</script>
</body>
</html>